<div class="small-10 column">
  <ul class="no-bullet">
    <li><h2><%= @user.username.upcase %></h2></li>
    <li><%= @user.email %></li>
    <li><%= link_to "Edit Info", edit_user_registration_path %></li>
  </ul>
</div>
